@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  /* width: 1920px; */
  min-height: 100%;
  background: #fff;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: #2c3136;
}

img {
  max-width: 100%;
  border: 0;
}

a {
  text-decoration: none;
  color: #2c3136;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

a:hover {
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  box-shadow: none;
  border: none;
}

input,
input:focus {
  border: none;
  outline: none;
}

.page-wrapper {
  width: 1920px;
  display: flex;
}

.container__main {
  max-width: 1480px;
  margin: 0 auto;
}

img {
  transition: all 0.3s ease;
}

/* .none {
  display: none !important;
} */

/* ASIDE */
.aside {
  width: 280px;
  padding: 16px 32px 64px 32px;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  font-weight: 600;
}

.logo {
  height: 70px;
}
.aside__logo {
  margin-bottom: 40px;
}

.aside__age {
  margin-bottom: 32px;
}
.age {
  width: 215px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;

  border-radius: 12px;
  border: 1px solid #ffd5c4;
  background: linear-gradient(90deg, #fff8f6 56.22%, #ffeded 99.8%);
}
.age__btn {
  padding: 13px 24px;

  display: flex;
  align-items: flex-start;
  gap: 8px;

  border: none;
  background: transparent;
  color: #2c3136;
}
.age__btn:hover {
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.04),
    0px 3px 8px 0px rgba(0, 0, 0, 0.12);
  background: linear-gradient(
    95.19deg,
    rgb(255, 248, 246) 56.178%,
    rgb(255, 237, 237) 99.465%
  );
}
.age__btn.active {
  border-radius: 10px;
  border: 0.5px solid #e2e5e9;
  background: #fff;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.04),
    0px 3px 8px 0px rgba(0, 0, 0, 0.12);
  font-weight: 600;
}

.aside__services{
  margin-bottom: 48px;
}
.services {
  width: 216px;

  display: flex;
  flex-direction: column;
}
.services hr {
  width: 216px;
  margin: 0 auto;
  padding: 1px;

  border: none;
  background-color: rgb(226, 229, 233);
}
.services__item {
  height: 64px;
  padding: 20px 0px;

  display: flex;
  align-items: center;
  gap: 12px;
}
.services__item img {
  width: 24px;
  height: 24px;
  margin-right: 3px;
  display: none;
}
.services__item:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(255, 248, 246) 0.013%,
    rgb(255, 237, 237) 99.985%
  );
  color: rgb(176, 12, 47);
}
.services__item.active {
  color: #b00c2f;
}
.services__item.active img {
  display: block;
  color: #b00c2f;
}

.aside__controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 48px;
}
.personal-cabinet {
  width: 216px;
  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;

  border-radius: 10px;
  border: 1px solid #ffd5c4;
  background: linear-gradient(90deg, #fff8f6 0.01%, #ffeded 99.99%);
  color: #b00c2f;
}
.personal-cabinet img {
  width: 24px;
  height: 24px;
}
.personal-cabinet:hover {
  background: transparent;
}

.button-sign {
  width: 216px;
  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;

  border-radius: 10px;
  background: #b00c2f;
  color: #fff;
}
.button-sign img {
  width: 26px;
  height: 26px;
}
.button-sign:hover {
  outline: 5px solid rgb(243, 219, 224);
}
.button-sign:active {
  background: #ef3340;
  outline: none;
}

.social {
  height: 40px;

  display: flex;
  gap: 20px;
}
.social__item {
  width: 40px;
  height: 40px;
}
.social__item img:nth-of-type(2) {
  display: none;
}
.social__item:hover img:nth-of-type(1) {
  display: none;
}
.social__item:hover img:nth-of-type(2) {
  display: block;
}

/* CONTENT */
.content {
  width: 1640px;
  max-width: 1640px;

  border-left: 1px #e2e5e9 solid;
  overflow: hidden;
}

/* HEADER */
.header {
  margin-bottom: 27px;
}

.header__categories {
  display: flex;
  align-items: center;
}
.header__categories-item {
  width: 318px;
  flex-grow: 1;
  background: #fff7f5;
}
.header__categories-item,
.header__categories-item--long {
  height: 48px;
  padding: 12px 32px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  cursor: pointer;
}
.header__categories-item--long  {
  flex-grow: 1;
  padding: 12px 20px;
  width: 368px;
  color: #b00c2f;
}
.header__categories-item img,
.header__categories-item--long  img {
  width: 24px;
  height: 24px;
}
.header__categories-item:nth-child(1) {
  padding-left: 80px;
  justify-content: flex-start;
}
.header__categories-item:nth-child(2) {
  background: #fff2ed;
}
.header__categories-item:nth-child(3) {
  border-radius: 0px 20px 20px 0px;
}
.header__categories-item:nth-child(5) {
  padding-right: 80px;
  border-radius: 20px 0px 0px 20px;
}
.header__categories-item:hover {
  background: #ffe1e1;
  color: #b00c2f;
}
.header__categories-item--long:hover {
  background: #ffe1e1;
  color: #000;
  border-radius: 20px;
}


.header__navigation{
  height: 56px;
  margin: 0 80px;

  display: flex;
  align-items: center;
  gap: 124px;

  font-size: 14px;
}
.navigation-list {
  width: 774px;

  display: flex;
  align-items: center;
  gap: 48px;

  flex-shrink: 0;
}
.navigation-list__item:nth-of-type(5) {
  width: 119px;
}
.navigation-list__item:nth-of-type(6) {
  width: 157px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  color: #219f9d;
}
.navigation-list__item:nth-of-type(6):hover {
  color: #5fd7d5;
}
.navigation-list__item img {
  width: 19px;
  height: 12px;
}
.navigation-list__item:hover {
  color: #b00c2f;
}
.navigation-list__item img:nth-of-type(2) {
  display: none;
}
.navigation-list__item:hover img:nth-of-type(1) {
  display: none;
}
.navigation-list__item:hover img:nth-of-type(2) {
  display: block;
}

.header__navigation-tools {
  width: 583px;
  /* height: 44px; */

  display: flex;
  align-items: center;
  gap: 102px;
}

.header__phone {
  gap: 8px;
}
.phone {
  width: 152px;
  height: 22px;
  
  display: flex;
  align-items: center;

  color: rgb(44, 49, 54);
  font-size: 14px;
  font-weight: 600;
  line-height: 140%;
}
.phone img {
  width: 18px;
  height: 17px;
}

.gaze {
  width: 187px;
  height: 44px;

  display: flex;
  align-items: center;
  gap: 8px;

  background: #fff;
}
.gaze img {
  width: 29px;
  height: 28px;
}
.gaze:hover {
  width: 187px;

  border-radius: 8px;
  background: linear-gradient(
    90deg,
    rgb(255, 242, 237) 0.013%,
    rgb(255, 225, 225) 99.985%
  );
  cursor: pointer;
}
.gaze:active {
  background: linear-gradient(
    90deg,
    rgb(255, 242, 237) 0.013%,
    rgb(255, 225, 225) 99.985%
  );
  color: rgb(176, 12, 47);
}
.gaze img:nth-of-type(2) {
  display: none;
}
.gaze:active img:nth-of-type(1) {
  display: none;
}
.gaze:active img:nth-of-type(2) {
  display: block;
}

.search {
  border: none;
  width: 40px;
  height: 40px;
}
.search img:nth-of-type(2) {
  display: none;
}
.search:hover img:nth-of-type(1) {
  display: none;
}
.search:hover img:nth-of-type(2) {
  display: block;
}
.search img:hover,
.search-block img:hover {
  cursor: pointer;
}

.search-block {
  width: 583px;
  height: 40px;
  padding: 8px 16px;
  display: none;

  justify-content: space-between;
  gap: 24px;
}
.search-block__input {
  width: 500px;
  height: 22px;
}
.search-block__button {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-block__button img{
  width: 24px;
  height: 24px;
}
.search-block img:nth-of-type(2),
.search-block img:nth-of-type(3) {
  display: none;
}
.search-block:hover img:nth-of-type(1) {
  display: none;
}
.search-block:hover img:nth-of-type(2) {
  display: block;
}
.search-block:active img:nth-of-type(2) {
  display: none;
}
.search-block:active img:nth-of-type(3) {
  display: block;
}

/* MAIN*/
/* slider-top*/
.slider-top {
  position: relative;
  margin-bottom: 315px;
}
.main-slider__controls {
  position: absolute;
  top: 112px;
  left: 112px;
  width: 545px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  z-index: 2;
}
.main-slider__title {
  margin-top: 56px;

  font-size: 40px;
  font-weight: 600;
  line-height: 140%;

  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.main-slider__text {
  margin-top: 32px;

  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.main-slider__button {
  margin-top: 32px;
  display: flex;
  padding: 11px 23px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #b00c2f;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 140%;
}
.main-slider__button:hover {
  background: #ef3340;
}

/* institutes */
.institutes {
  position: absolute;
  top: 98%;
  height: 219px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: url(../img/main/institutes/institute-back.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  fill: #fff;
  filter: drop-shadow(0px 0px 25px rgba(140, 149, 193, 0.25));
}

.institute__item {
  width: 296px;
  height: 219px;
  padding: 24px;
  padding-top: 69px;
  clip-path: polygon(
    0% 6%,
    1% 3%,
    3% 1%,
    5% 0%,
    100% 8.5%,
    100% 100%,
    5% 100%,
    3% 99%,
    1% 97%,
    0% 94%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  /* flex-shrink: 0; */
}

.institute__item:hover {
  background-color: #fff5f3;
  transition: all 0.3s;
}
.institute__item:hover .institute__item-text {
  transform: translateY(-20px);
  color: #b00c2f;
  transition: all 0.3s;
}
.institute__item img:nth-of-type(2) {
  display: none;
}
.institute__item:hover img:nth-of-type(1) {
  display: none;
}
.institute__item:hover img:nth-of-type(2) {
  display: block;
  transform: translateY(-20px);
}

.institute__item:nth-of-type(2) {
  position: relative;
  clip-path: polygon(0% 8.5%, 100% 17.5%, 100% 100%, 0% 100%);
}
.institute__item:nth-of-type(2):before {
  content: " ";
  position: absolute;
  width: 1px;
  height: 200px;
  bottom: 2px;
  left: 0px;
  background: #e2e5e9;
}

.institute__item:nth-of-type(3) {
  position: relative;
  clip-path: polygon(50% 22%, 100% 17.5%, 100% 100%, 0% 100%, 0% 17.5%);
}
.institute__item:nth-of-type(3):before {
  content: " ";
  position: absolute;
  width: 1px;
  height: 200px;
  bottom: 2px;
  left: 0px;
  background: #e2e5e9;
}

.institute__item:nth-of-type(4) {
  position: relative;
  clip-path: polygon(0% 17.5%, 100% 8.5%, 100% 100%, 0% 100%);
}
.institute__item:nth-of-type(4):before {
  content: " ";
  position: absolute;
  width: 1px;
  height: 200px;
  bottom: 2px;
  left: 0px;
  background: #e2e5e9;
}

.institute__item:nth-of-type(5) {
  position: relative;
  clip-path: polygon(
    0% 8.5%,
    94% 0%,
    97% 1%,
    99% 3%,
    100% 6%,
    100% 94%,
    99% 97%,
    97% 99%,
    94% 100%,
    0% 100%
  );
}
.institute__item:nth-of-type(5):before {
  content: " ";
  position: absolute;
  width: 1px;
  height: 200px;
  bottom: 2px;
  left: 0px;
  background: #e2e5e9;
}

.institute__item-img {
  width: 64px;
  height: 64px;
}

.institute__item-text {
  height: 50px;
  color: #2c3136;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 25.2px */
  letter-spacing: 0.18px;

  -webkit-line-clamp: 2; /* Число отображаемых строк */
  display: -webkit-box; /* Включаем флексбоксы */
  -webkit-box-orient: vertical; /* Вертикальная ориентация */
  overflow: hidden; /* Обрезаем всё за пределами блока */
}

/* advantages */
.advantages {
  margin-bottom: 104px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
}
.advantages__header {
  display: flex;
  width: 1480px;
  justify-content: space-between;
  align-items: center;
}

.title{
  color: var(--text-2-c-3136, #2c3136);
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.advantages__content {
  width: 1480px;
  height: 406px;
  display: flex;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
  align-self: stretch;
}
.advantages__content-item {
  width: 477px;
  height: 172px;
  padding: 24px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;

  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 25px 0px rgba(140, 149, 193, 0.25);
}
.advantages__content-item:hover {
  height: 210px;

  background: linear-gradient(90deg, #fff8f6 0.01%, #ffeded 99.99%);
  border: 5px solid #f3dbe0;
  box-shadow: 0px 0px 8px 0px rgba(217, 176, 176, 0.25);
  transition: all 0.3s;
  cursor: pointer;
}
.advantages__content-item:hover .advantages__content-link {
  display: flex;
  align-items: center;
  gap: 12px;
}
.advantages__content-item:nth-of-type(4) {
  flex: 1 0 0;
}
.advantages__content-head {
  display: flex;
  align-items: center;
  gap: 16px;
}
.advantages__content-link {
  display: none;
}

/* news */
.news {
  position: relative;
  width: 1640px;
  height: 600px;
  margin-bottom: 104px;
  /* flex-shrink: 0; */

  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.news::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: -80px;
  background: #f8fbfb;
  z-index: 1;
}
.overlay {
  position: absolute;
  width: 1613px;
  height: 100%;
  top: 19px;
  left: -27px;
  background: url(../img/main/advantages/background.svg);
  background-position: center center;
  background-size: cover;
  z-index: 2;
}
.news__header {
  position: relative;
  display: flex;
  width: 1480px;
  padding-top: 64px;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.news__controls {
  display: flex;
  align-items: center;
  gap: 48px;
}
.btn-all {
  display: flex;
  height: 48px;
  padding: 11px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 10px;
  border: 1px solid var(--color-b-00-c-2-f, #b00c2f);
  background: var(--test-ffffff, #fff);

  color: var(--color-b-00-c-2-f, #b00c2f);
  /* Desktop/16 px, Semibild */
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 22.4px */
}
.btn-all:hover {
  cursor: pointer;

  background: linear-gradient(
    95.19deg,
    rgb(255, 248, 246) 56.197%,
    rgb(255, 237, 237) 99.606%
  );
}
.news__btn-space {
  width: 120px;
  height: 48px;
}

.arrow__prev,
.arrow__next {
  display: flex;
  width: 48px;
  height: 48px;
  padding: 2px 4px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  border: 5px solid var(--stroke-f-3-dbe-0, #f3dbe0);
}

.news-slider {
  position: relative;
  width: 1560px;
  height: 392px;
  z-index: 3;
  margin: 0 225px;
}

.news-slider .slick-list {
  height: 392px;
  margin: 0 -230px;
  display: flex;
  align-items: end;
}

.news-slider__item {
  width: 476px !important;
  height: 368px;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.news-slider__item:nth-child(1n) {
  margin-left: 5px;
}

.news-slider__item:hover {
  transform: translateY(-24px);
  transition: all 0.5s;
}

.news-slider__item-img {
  position: relative;
  height: 180px;
  overflow: hidden;
  border-radius: 12px 12px 0px 0px;
}

.news-slider__item-img img {
  position: absolute;
  width: 100%;
  left: 0;
}

.news-slider__item[data-slick-index] img {
  top: -120px;
}
.news-slider__item[data-slick-index="1"] img,
.news-slider__item[data-slick-index="6"] img {
  top: -56px;
  left: 15px;
  transform: scale(1.07);
}
.news-slider__item[data-slick-index="2"] img,
.news-slider__item[data-slick-index="7"] img {
  top: -35px;
}

.news-slider__item-content {
  position: relative;
  width: 476px;
  height: 188px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 24px;

  /* flex: none;
  order: 1;
  flex-grow: 1; */

  border-radius: 0px 0px 12px 12px;
  border-bottom: 1px solid rgb(226, 229, 233);
  border-left: 1px solid rgb(226, 229, 233);
  border-right: 1px solid rgb(226, 229, 233);
  background: rgb(255, 255, 255);
}

.news-slider__item-time {
  position: absolute;
  width: 150px;
  height: 36px;
  left: -2px;
  top: -36px;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 8px 24px 8px 24px;
  border-left: 1px solid rgb(226, 229, 233);
  border-right: 1px solid rgb(226, 229, 233);
  border-top: 1px solid rgb(226, 229, 233);
  border-radius: 0px 12px 0px 0px;
}
.news-slider__item-time img {
  width: 20px;
  height: 20px;
}

.news-slider__item-text {
}

.news-slider__item-title {
  width: 428px;
  height: 28px;
  margin-top: 24px;
  margin-bottom: 12px;

  color: rgb(44, 49, 54);
  /* font-family: Lato; */
  font-size: 20px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 1%;
  text-align: left;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.news-slider__item-descr {
  width: 428px;
  height: 44px;
  margin-bottom: 24px;

  color: rgb(119, 121, 123);
  /* font-family: Lato; */
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0px;
  text-align: left;
}

.news-slider__item-controls {
  width: 428px;
  height: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
}

.news-slider__item-link {
  width: 188px;
  height: 32px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 6px 12px 6px 12px;

  border: 1px solid rgb(226, 229, 233);
  border-radius: 26px;
  background: rgb(248, 251, 251);
}

.news-slider__item-link img {
  width: 20px;
  height: 20px;
}
.news-slider__item-link img:nth-of-type(2) {
  display: none;
}
.news-slider__item-link:hover img:nth-of-type(1) {
  display: none;
}
.news-slider__item-link:hover img:nth-of-type(2) {
  display: block;
}

.news-slider__item-institute {
  width: 136px;
  height: 20px;

  color: rgb(44, 49, 54);
  /* font-family: Lato; */
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0px;
  /* text-align: left; */
}

.news-slider__item-paper {
  width: 68px;
  height: 32px;
  padding: 6px 12px 6px 12px;

  box-sizing: border-box;
  border: 1px solid rgb(226, 229, 233);
  border-radius: 26px;

  background: rgb(248, 251, 251);
  color: rgb(44, 49, 54);
  /* font-family: Lato; */
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0px;
  text-align: left;
}

.news-slider__item-link:hover,
.news-slider__item-paper:hover {
  box-sizing: border-box;
  color: rgb(176, 12, 47);

  border: 1px solid rgb(255, 237, 237);
  background: linear-gradient(
    95.19deg,
    rgb(255, 248, 246) 56.235%,
    rgb(255, 237, 237) 99.889%
  );
}
.news-slider__item-institute:hover {
  color: rgb(176, 12, 47);
}

/* ======== */
/* feedback */
.feedback {
  width: 1480px;
  height: 496px;
  margin-bottom: 104px;

  display: flex;
  flex-direction: column;
  gap: 48px;
}

.feedback__head {
  height: 56px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feedback__button {
}

.feedback__content {
  position: relative;
  height: 304px;

  display: flex;
  gap: 48px;
}

.feedback__categorys {
  width: 337px;
  height: 304px;
  padding: 24px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  border: 1px solid rgb(226, 229, 233);
  border-radius: 12px;
  /* BG/#F8FBFB */
  background: rgb(248, 251, 251);
}
.feedback__category {
  width: 289px;
  height: 72px;
  padding: 17px 16px 17px 16px;

  display: flex;
  align-items: center;
  gap: 16px;

  /* Stroke/#E2E5E9 */
  border: 1px solid rgb(226, 229, 233);
  border-radius: 8px;
  /* Text/#FFFFFF */
  background: rgb(255, 255, 255);

  color: rgb(44, 49, 54);
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  cursor: pointer;
}

.feedback__category:hover {
  outline: 5px solid rgb(243, 219, 224);
  color: rgb(176, 12, 47);
}
.feedback__category.active {
  /* Color/#B00C2F */
  background: rgb(176, 12, 47);
  color: #fff;
}
.feedback__category img:nth-of-type(2) {
  display: none;
}
.feedback__category.active img:nth-of-type(1) {
  display: none;
}
.feedback__category.active img:nth-of-type(2) {
  display: block;
}
.feedback__category img {
  width: 40px;
  height: 40px;
}

.feedback-slider {
  position: relative;
  width: 1095px;
  height: 304px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px;

  /* Stroke/#E2E5E9 */
  border: 1px solid rgb(226, 229, 233);
  border-radius: 12px;
  /* Drop Shadow */
  box-shadow: 0px 0px 25px 0px rgba(140, 149, 193, 0.25);
  /* Text/#FFFFFF */
  /* background: rgb(255, 255, 255); */
}

.feedback__card {
  width: 1015px;
  height: 235px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}

.feedback__card-head {
  width: 1015px;
  height: 65px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.feedback__card-photo {
  width: 65px;
  height: 65px;
}

.feedback__card-info {
  width: 935px;
  height: 52px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: flex-start; */
  gap: 14px;
}
.feedback__card-user {
  color: rgb(44, 49, 54);
  font-family: Lato;
  font-size: 18px;
  font-weight: 600;
  line-height: 140%;
}
.feedback__card-statistic {
  width: 935px;
  height: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feedback__card-time {
  width: 123px;
  height: 22px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.feedback__card-time img {
  width: 20px;
  height: 20px;
}
.feedback__card-date {
  width: 95px;
  color: rgb(44, 49, 54);
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}
.feedback__card-text {
  width: 1015px;
  height: 136px;

  color: rgb(119, 121, 123);
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;

  -webkit-line-clamp: 6;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* ======== */
/* questions */
.questions {
  height: 567px;
  margin-bottom: 104px;
  /* left: 360px;
  right: 80px;
  top: 2902px;
  bottom: 1884px; */

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.questions__head {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: none;

  /* order: 0; */
  align-self: stretch;
  /* flex-grow: 0; */
  margin-bottom: 48px;
}
.questions__content {
  width: 1480px;
  height: 464px;
  display: flex;
  flex-direction: column;
  gap: 31px;
  flex-wrap: wrap;
  overflow: hidden;
}

.question.active {
  width: 724px;
  height: 214px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px 0px 24px 0px;

  border-radius: 12px;
  /* Drop Shadow */
  /* box-shadow: 0px 0px 25px 0px rgba(140, 149, 193, 0.25); */
  /* BG/Linear */
  background: linear-gradient(
    90deg,
    rgb(255, 248, 246) 0.021%,
    rgb(255, 237, 237) 99.976%
  );
}
.question__head {
  position: relative;
  width: 724px;
  height: 92px;
  padding: 24px 0px 24px 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  border: none;
  border-top: 1px solid rgb(226, 229, 233);
  border-radius: 12px;
  /* BG/#F8FBFB */
  background: rgb(248, 251, 251);

  color: rgb(44, 49, 54);
  font-family: Lato;
  font-size: 20px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 1%;
}
.question__head.active,
.question__head:hover {
  border-radius: 12px 12px 0 0;
  border-top: rgb(226, 78, 37) 2px solid;

  /* box-shadow: 0px 0px 25px 0px rgba(140, 149, 193, 0.25); */
  background: linear-gradient(
    90deg,
    rgb(255, 248, 246) 0.021%,
    rgb(255, 237, 237) 99.976%
  );
  cursor: pointer;
}
.question__head:after {
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  right: 32px;
  margin-right: 5px;
  /* float: right; */
  background: #fff url("../img/main/questions/arrow-left.svg") center / 9px
    no-repeat;
  rotate: -90deg;

  /* Stroke/#E2E5E9 */
  border: 0.93px solid rgb(226, 229, 233);
  border-radius: 9.29px;
  /* Drop Shadow */
  box-shadow: 0px 0px 7.43px 0px rgba(217, 176, 176, 0.25);
}
.question__head.active:after {
  content: "";
  rotate: 90deg;
}
.question__text {
  width: 724px;
  height: 124px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 0 32px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;

  border-radius: 0 0 12px 12px;
  box-shadow: 0px 0px 25px 0px rgba(140, 149, 193, 0.25);
  background: linear-gradient(
    90deg,
    rgb(255, 248, 246) 0.021%,
    rgb(255, 237, 237) 99.976%
  );
}
.question__text hr {
  margin-left: auto;
  margin-right: auto;
  width: 660px;
  margin-bottom: 15px;
  border: none;
  background-color: rgb(226, 229, 233);
  padding: 1px;
}
.question__text p {
  height: 88px;
  padding-bottom: 18px;
  overflow: hidden;

  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

/* ======= */
/* support */
.support {
  width: 1480px;
  height: 412px;
  margin-bottom: 104px;
  padding: 48px;
  position: relative;
  display: flex;

  border-radius: 16px;
  background: url("../img/main/support/back+.jpg");
  overflow: hidden;
}
/* .support::after {
  content: "";
  background: url("../img/main/support/button-sign-.svg");
  width: 259.61px;
  height: 606.68px;
  position: absolute;
  right: 118px;
  top: 0px;
} */

.support__content {
  width: 299px;
  height: 227px;
  margin-right: 80px /*use gap?*/;

  display: flex;
  flex-direction: column;
}
.support__title {
  height: 45px;
  margin-bottom: 16px;

  font-size: 32px;
}
.support__descr {
  height: 66px;
  margin-bottom: 40px;
  overflow: hidden;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;

  color: rgb(119, 121, 123);
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}
.support__info {
  width: 192px;
  height: 60px;
  padding-left: 24px;

  display: flex;
  flex-direction: column;

  border-left: 3px solid rgb(176, 12, 47);
  border-radius: 3px;
}
.support__info-text {
  width: 140px;
  height: 22px;
  margin-bottom: 16px;

  color: rgb(176, 12, 47);
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}
.support__info-phone {
  width: 168px;

  gap: 10px;
}
.support__info-phone a {
  font-size: 16px;
  font-weight: 600;
}

.support-form {
  width: 554px;
  height: 316px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.support-form__user {
  width: 554px;
  height: 48px;
  /* margin-bottom: 32px; */
  display: flex;
  gap: 24px;
}
.support-form__user-name {
}
.support-form__user-email {
}

.support-form__user-name,
.support-form__user-email {
  width: 265px;
  height: 48px;
  padding: 14px 24px 14px 24px;
}

.search-block,
.support-form__user-name,
.support-form__user-email,
.support-form__textarea {
  border: 1px solid rgb(172, 181, 193);
  border-radius: 10px;
  background: rgb(255, 255, 255);

  color: rgb(119, 121, 123);
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
}

.search-block:hover,
.search-block:focus,
.support-form__user-name:focus,
.support-form__user-email:focus,
.support-form__textarea:focus {
  outline: none;
  border: 1px solid rgb(63, 194, 192);
  color: #2c3136;
}

.support-form__textarea {
  width: 554px;
  height: 144px;
  padding: 24px;
  resize: none;
}

.support-form__submit {
  width: 554px;
  height: 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.support-form__submit-button {
  width: 185px;
  height: 52px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 10px;
  /* Color/#B00C2F */
  background: rgb(176, 12, 47);

  color: rgb(255, 255, 255);
  font-family: Lato;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  text-align: center;
  cursor: pointer;
}
.support-form__submit-button:hover {
  outline: 5px solid rgb(255, 248, 246);
}
.support-form__submit-button:active {
  background: rgb(239, 51, 64);
  outline: none;
}
.support-form__submit-policy {
  width: 327px;
  height: 60px;

  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}
.support-form__submit-policy a {
  color: rgb(176, 12, 47);
}

/* === */
/* map */
.map {
  width: 1480px;
  height: 550px;
  margin-bottom: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* ====== */
/* footer */
.footer {
  display: flex;
  flex-direction: column;
}

.footer__main {
  width: 1640px;
  height: 525px;
  padding: 56px 80px;
  display: flex;
  flex-direction: column;

  /* BG/#F8FBFB */
  background: rgb(248, 251, 251);
}

.footer__content {
  height: 264px;
  margin-bottom: 42px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(226, 229, 233);
}

.footer__logos {
  display: flex;
  flex-direction: column;
  gap: 42px;
}
.footer__logo-rate {
  width: 288px;
  height: 104px;
}

.footer__menu {
  width: 614px;
  height: 186px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 18px 80px;
}
.footer__menu-link {
  height: 22px;
  max-width: 212px;
  display: flex;
  align-items: center;

  color: rgb(44, 49, 54);
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}
.footer__menu-link:nth-child(13),
.footer__menu-link:nth-child(14) {
  height: 44px;
}
.footer__menu-link:hover {
  color: #b00c2f;
}

.footer__info {
  width: 361px;
  height: 218px;
  display: flex;
  flex-direction: column;
}

.footer__sign {
  margin-bottom: 32px;
}

.footer__controls {
  width: 361px;
  height: 138px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-feedback {
  width: 324px;
  height: 28px;
  display: flex;
  gap: 24px;
}
.footer-feedback__phone {
  width: 168px;

  padding-bottom: 5px;

  gap: 10px;
}
.footer-feedback__phone a {
  font-size: 16px;
  color: rgb(119, 121, 123);
  font-weight: 400;
}
.footer-feedback__call {
  height: 28px;
  width: 132px;
  display: flex;
  flex-direction: column;

  color: rgb(176, 12, 47);
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}
.footer-feedback__call-text {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
.email {
  width: 147px;
  height: 22px;
  display: flex;
  align-items: center;
  gap: 10px;

  color: rgb(119, 121, 123);
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}


.footer__policy {
  display: flex;
  flex-direction: column;
}
.footer__policy-menu{
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 29px;
}
.footer__policy-menu .gaze {
  background: rgb(248, 251, 251);
}
.footer__policy-menu .gaze:hover {
  color: rgb(176, 12, 47);
  border-radius: none;
}

.footer__policy-links {
  display: flex;
  gap: 48px;
}
.footer__policy-link {
  color: rgb(119, 121, 123);
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}
.footer__policy-link:hover {
  color: #b00c2f;
}

.footer__license {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__license-text {
  color: rgb(119, 121, 123);
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.footer__bottom-text {
  width: 1640px;
  height: 85px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 80px 20px 80px;

  color: rgb(202, 209, 216);
  font-family: Lato;
  font-size: 32px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}
