@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  color: #2c3136;
}

img {
  max-width: 100%;
  border: 0;
}

a {
  text-decoration: none;
  color: #2c3136;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.page__wrapper {
  display: flex;
}

.content {
  width: 1640px;
  border-left: 1px #e2e5e9 solid;
}

.container__main {
  width: 1480px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 80px;
}

.none {
  display: none !important;
}

/* aside */
.aside {
  display: flex;
  width: 280px;
  padding: 16px 32px 64px 32px;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 600;
}

.aside__logo {
  width: 216px;
  height: 70px;
  margin-bottom: 40px;
}

.choose {
  display: flex;
  width: 216px;
  height: 50px;
  margin-bottom: 32px;
  padding: 3px 2px 3px 3px;
  justify-content: center;
  align-items: center;
  gap: 3px;
  border-radius: 12px;
  border: 1px solid var(--Stroke-Linear, #ffd5c4);
  background: var(
    --bg-linear,
    linear-gradient(90deg, #fff8f6 56.22%, #ffeded 99.8%)
  );
}

.choose button {
  display: flex;
  padding: 13px 24px;
  align-items: flex-start;
  gap: 8px;
  border: none;
  background: var(
    --bg-linear,
    linear-gradient(90deg, #fff8f6 56.22%, #ffeded 99.8%)
  );
  color: #2c3136;
}

.choose button.active {
  border-radius: 10px;
  border: 0.5px solid var(--stroke-e-2-e-5-e-9, #e2e5e9);
  background: var(--test-ffffff, #fff);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.04),
    0px 3px 8px 0px rgba(0, 0, 0, 0.12);
  font-weight: 600;
}

.services {
  margin-bottom: 48px;
  display: flex;
  width: 216px;
  flex-direction: column;
  gap: 20px;
}

.services__item {
  padding-top: 20px;
  border-top: 1px solid #e2e5e9;
}

.services__title {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #b00c2f;
}

.services__item img {
  width: 24px;
  height: 24px;
  margin-right: 3px;
}

.aside-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  margin-bottom: 48px;
}

.personal {
  display: flex;
  width: 216px;
  height: 48px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 10px;
  border: 1px solid #ffd5c4;
  background: linear-gradient(90deg, #fff8f6 0.01%, #ffeded 99.99%);
  color: #b00c2f;
}

.personal img {
  width: 24px;
  height: 24px;
}

.reception {
  display: flex;
  width: 216px;
  height: 48px;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border-radius: 10px;
  background: var(--color-b-00-c-2-f, #b00c2f);
  color: #fff;
}

.reception img {
  width: 26px;
  height: 26px;
}

.social {
  height: 40px;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.social img {
  width: 40px;
  height: 40px;
}

/* header */
.header {
}

.categories {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category__item {
  width: 318px;
  background: #fff7f5;
}

.category__item-long {
  width: 384px;
  color: #b00c2f;
}

.category__item,
.category__item-long {
  height: 48px;
  padding: 12px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
}

.category__item img,
.category__item-long img {
  width: 24px;
  height: 24px;
}

.category__item:nth-child(2n) {
  background: #fff2ed;
}

.category__item:nth-child(3n) {
  border-radius: 0px 20px 20px 0px
}

.category__item:nth-child(5n) {
  border-radius:  20px 0px 0px 20px
}

.category__item:hover,
.category__item-long:hover {
  background: #ffe1e1;
  color: #b00c2f;
}

.navigation {
  height: 56px;
  display: flex;
  align-items: center;
  gap: 123px;
  font-size: 14px;
}

.navigation-list {
  display: flex;
  gap: 48px;
}

.navigation__tools {
  display: flex;
  gap: 115px;
}

.phone {

}
.gaze {

}
.search {

}